<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Register</title>
</head>
<body>
    <form action="register" method="post">
        <h1>Registro</h1>
        <input type="username" placeholder="Usuario" name="username">
        <input type="name" placeholder="Nombre" name="name">
        <select name="rol">
            <option value="admin">Admin</option>
            <option value="user">Usuario</option>
        </select>
        <input name="pass" type="password" placeholder="Contraseña">
        <input type="submit" name="registrar" value="Registrar">
        <a href="/login">Iniciar sesion</a>
    </form>
</body>
</html>